    .ImageUpload{

        &-wrapper{
            height:100%;
            padding-top: 150px;
            padding-bottom:70px;
            background-color:$lightblue;

        }
        &-title{
        text-align: center;
        font-family:"Biko";
        color:$white;
        }
        &-form{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-self:center;
            .imageInput{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;

                align-self:center;
            }
            .imageInput,  label {
                align-self:center;
                margin-bottom: 30px;
                width: 290px;
                padding:20px;
                font-size: 1.25em;
                font-weight: 700;
                color: #a7a7a7;
                background-color: #f7f7f7;
                display: inline-block;
                &:hover {
                cursor: pointer;
                }
            }
            .imgUpload{
                align-self:center;
                &::after{
                    content:" ";
                    display: inline-block;
                    background: url('../Images/photo.svg');
                    background-repeat: no-repeat;
                      height: 40px;
                    width: 40px;       
              
                }
            }
        }            
	
}

