    .ImageUpload{
   
 
        &-wrapper{
            height: 100vh;
            padding-top: 100px;
            padding-bottom:70px;
            background-color:$lightblue;
            @include above ($s){
                padding-top: 150px; 
            }


        }
        &-title{
        text-align: center;
        font-family:"Biko";
        color:$white;
        margin-top: 40px;
        }
        &-form{
            display:flex;
            flex-direction:column;
            justify-content: center;
            align-self:center;
            margin: 0px 25px 0px 25px;
            @include above ($m){
                margin: 0px 225px 0px 225px; 
            }
            .imageInput{
                width: 0.1px;
                height: 0.1px;
                opacity: 0;
                overflow: hidden;
                position: absolute;
                z-index: -1;
                align-self:center;
            }
            .imageInput{
                align-self:center;
                margin-bottom: 30px;
                width: 290px;
                padding:20px;
                font-size: 1.25em;
                font-weight: 700;
                color: #a7a7a7;
                background-color: #f7f7f7;
                display: inline-block;
                &:hover {
                cursor: pointer;
                }
            }
            .imgUpload{
                align-self:center;
                cursor:pointer;
                &::after{
                    content:" ";
                    display: inline-block;
                    background: url('../Images/photo.svg');
                    background-repeat: no-repeat;
                      height: 40px;
                    width: 40px;       
              
                }
            }
            label{
                align-self:center;
                margin-bottom:10px;
                cursor:pointer;
            }
        //  @include above($s){
        //     margin: 0px 425px 0px 425px;
        //  }  
        }  
        .addedImage{
            height: 250px;
            margin-bottom: 10px;
            @include above ($m){
             margin-bottom: 45px;
           } 
   
}
    }

