@import 'shared/colors';

.navMenu{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    display: flex;
    justify-content: center;
    align-content:flex-end;
    background-color:$lightgray;
    padding: 0px 10px 0px 10px;
    a{
        padding:10px;
        font-size: 12px;
        color:$black;
    }
    
}
.profileIcon{
    text-align: center;
    &::before{
        display: inline-block;
        content: " ";
        background:url('../Images/avatar-inside-a-circle.svg');
        height:30px;
        width:30px
    }
 
}
.profileDogIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/pawprint-outline-in-a-circle.svg');
        height:30px;
        width:30px
    }
 
}
.regDogIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/plus.svg');
        background-repeat: no-repeat;
          height: 32px;
        width: 32px;
    }
 
}
.workoutBankIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/whistle.svg');
        background-repeat: no-repeat;
          height: 40px;
        width: 40px;
    }
 
}
.workoutLoggIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/badge.svg');
        background-repeat: no-repeat;
          height: 40px;
        width: 40px;

    }
 
}
