@import 'shared/colors';
@import 'shared/breakers';

.navMenu{
    position:fixed;
    left:0px;
    bottom:0px;
    width:100%;
    display: flex;
    justify-content: center;
    align-content:flex-end;
    background-color:$white;
    padding: 0px 10px 0px 10px;
    z-index:10000;
    a{
        align-self: center;
        padding: 10px 20px 10px 20px;
        font-size: 12px;
        color:$black;
        max-width:100px;
        // @include below ($s){
        //     padding:5px;
        // }
    }
    
}
.profileIcon{
    text-align: center;
    &::before{
        display: inline-block;
        content: " ";
        background:url('../Images/avatar-inside-a-circle.svg');
        height: 25px;
        width: 25px;
    }
 
}
.profileDogIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/pawprint-outline-in-a-circle.svg');
        height: 25px;
    width: 25px;
    }
 
}
.regDogIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/plus.svg');
        background-repeat: no-repeat;
        height: 27px;
    width: 27px;
    }
 
}
.workoutBankIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/whistle.svg');
        background-repeat: no-repeat;
          height: 32px;
        width: 32px;
    }
 
}
.workoutLoggIcon{
    text-align: center;
    &::before{
        content:" ";
        display: inline-block;
        background: url('../Images/badge.svg');
        background-repeat: no-repeat;
          height: 35px;
        width: 35px;

    }
 
}
