@import 'shared/colors';
@import 'shared/fonts';
@import 'shared/breakers';
@import 'shared/button';


.ProfilePage{
    background:  linear-gradient(to bottom, rgba(157,180,164,1), rgba(229,233,231,1));
    height:100vh;
    #logout{
        background-image:url('../Images/logout.svg');
        height: 30px;
        width: 30px;
        background-size: 100%;
        display: block;
        position: absolute;
        z-index: 10000;
        background-color: transparent;
        right:0;
        margin-right: 15px;
        margin-top: 6px;
    }
    &-wrapper{
        display:flex;
        justify-content: center;
        flex-direction: column; 
       
    }
    &-userInfo{
        display:flex;
        justify-content: center;
        align-self:center;
        margin-top: -40px;
        h2{
            text-transform: capitalize;
            padding:5px;
            font-family: 'Biko';
            font-weight: normal;
            font-style: normal;
            color:white;

        }
    }
    &-title{
        padding-bottom:37px;
        padding-top:70px;
        text-align:center; 
        color:$white;
        font-family: 'Biko';
        font-style: normal;
        h1{
            text-align:center;
           font-size:36px;
           font-weight:normal;
        }
        h2{
            text-align:center;
           font-size:24px;
           font-weight:normal;
        }  
    }
    &-listlinks{
    text-align:center;
    display:flex;
    flex-direction:column;
    margin-top:20px;
        #profileLinks{
            margin: 20px 20px;
            color:$green;
            text-transform: none;
            &:hover{
                background-color:$lightpink;
                color:white; 
            }
            &:active{
                background-color:$lightpink;
                color:white;
            }
        }
    }

    .custom-header{
        position:relative;
        z-index: 1000;
        &::before{
            background-color:$lightpink;
            position: absolute;
            content: "";
            width: 100%;
            height: 400px;
            top: -50;
            border-bottom: white 3px solid;
            -webkit-transform-origin: top right;
            transform-origin: top right;
            -webkit-transform: skewY(-20deg);
            transform: skewY(-20deg);
            z-index: -100;
            margin-top: -200px;
            @include above($s){
                margin-top: -300px;
                height:500px;
            }
            @include above($m){
                margin-top: -400px;
                height: 700px;
            
            }
            @include above($l){
            margin-top: -600px;
            transform: skewY(-13deg);
        }
    }
}
   
   .flexWrapper{
        display: flex;
        justify-content: center;
        margin-top: 40px;
      .imageWrapper{
        border:solid $white;
        border-radius: 50%;
        width:150px;
        height:150px;
        overflow: hidden;
        position:relative;
        z-index: 2;
        .imageHover{
            display:none;
            z-index:1;
            color:white;
            position:absolute;
            left: 50%;
            top: 140%;
            transform: translateX(-50%) translateY(-50%);
            height: 250px;
            width: auto;
            p{
            border:solid;
            width:180px;
            text-align:center;
            }
        }
        &:hover{
            opacity: 0.8;
            cursor:pointer;
            .imageHover{
            display:block;
            }
           
        }

        .addedImage{
                position:absolute;
                left: 50%;
                top: 50%;
                transform: translateX(-50%) translateY(-50%);
                height: 250px;
                width: auto;
        }

    } 

   }

    
}




