@import 'shared/colors';
@import 'shared/fonts';
@import 'shared/breakers';
@import 'shared/button';


.ProfileDogPage{
   width:100%;
   overflow-x: hidden;
   &-title{
     h1{
      margin-top: -5px;
    }
   }
   &-wrapper{
      position:absolute;
      margin-top: -150px;
      width:100%;
      margin-bottom:80px;
      @include above ($m){
        margin-top: -100px;
      }
      .flexWrapper{
         position: relative;
         display: flex;
         justify-content: center;
         flex-direction: column;
         margin-bottom: 100px;
         z-index: 1000;
        .imageWrapper{
         align-self: center;
         height: 300px;
         position: relative;
           .imageHover{
                display:none;
                z-index:1;
                border: 2px solid white;
                position: absolute;
                left: 50%;
                top: 50%;
                -webkit-transform: translateX(-50%) translateY(-50%);
                transform: translateX(-50%) translateY(-50%);
                height: 338px;
                width: 320px;
                object-fit: cover;
                overflow: hidden;      
                p{
                padding: 10px;
                border-bottom:solid $white;
                color:$white;
                width:330px;
                text-align:center;
                }
              }
              &:hover{
                  opacity: 0.9;
                  cursor:pointer;
                  .imageHover{
                  display:block;
                }         
               }
          .addedImage{
            border: 2px solid white;
            position: absolute;
            left: 50%;
            top: 50%;
            -webkit-transform: translateX(-50%) translateY(-50%);
            transform: translateX(-50%) translateY(-50%);
            height: 340px;
            width: 320px;
            object-fit: cover;
            overflow: hidden;
          }
        }      
      }
   }
    &-list{
      width:275px;
      height: 120px;
      align-self:center;
      margin-top:-30px;
      padding: 20px 30px 20px 30px;
      background-color: white;
      z-index: 3;
      box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
      margin-top: -10px;

     &::after{
        content:" ";
        display: inline-block;
        background: url('../Images/badge.svg');
        background-repeat: no-repeat;
        height: 63px;
        width: 63px;
        transform: translate(250%, -100%);
        padding-bottom: 5px;
 
     }
   }
   &-title{
      position: relative;
      padding-top: 100px;
      text-align:center; 
      color:$white;
      font-family: 'Biko';
      font-style: normal;
      z-index:1000;
      h1{
          text-align:center;
         font-size:30px;
         font-weight:normal;
      }
  }
  .custom-headerDog{
   position: relative;
      width:100%;
      z-index: 999;
      border-bottom:3px solid white;
      background-color:$lightpink;
      border-radius: 0px 2px 349px 0px / 180px 204px 350px 0px;
      height:350px;
      width:100%;


       @include above($s){
           margin-top: -300px;
           height:500px;
       }
       @include above($m){
           margin-top: 0px;
           height: 300px;
       
       }
      
   }

}
