@import 'shared/colors';

.App-registration{
  min-height: 100vh;
  
}
.RegistrationPage{
  display: flex;
  flex-direction: column;
  align-items: center;
   &-form{
      background-color:white;
      display:flex;
      flex-direction:column;
      justify-content: center;
      width: 100%;
      margin-top:-150px;
      padding: 40px 0px 40px 0px;
      h1{
      	text-align:center;
      	font-size:1.5em;
      }
      h2{
      	text-align:center;
      	font-size:0.9em;
      }
      input{
         padding:10px;
         border: black solid 1px;
         margin: 20px 80px 20px 80px;
      }
      .regUserButton{
         padding:20px;
         background-color:$gray;
         border:none;
         width:130px;
         color:white;
         text-transform: uppercase;
         align-self:center;
         margin-top:20px;

      }

   }
}