@import 'shared/colors';

.StartPage{
&-wrapper{
  height: 100vh;
  background-color: $orange;
  h1{
    color:$white;
    font-size:1.5em;
  }
  form{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
input{
    margin-top:15px;
    height: 45px;
    width:208px;
    background-image: none !important;
    font-size: 0.6em;

  }
  }
}

&-input{
  display:flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  justify-content: center;
  height:407px;


  #signup{
    color:$white;
    background-color:transparent;
    text-decoration:underline;
    font-size:22px;
    padding-top:60px;
  }

  #login{
 margin-top:35px;
  }

  input{
    display:flex;
    align-self:center;
    margin-top:15px;
    height: 45px;
    width:208px;
    background-image: none !important;
    font-size: 0.6em;
    padding-left:10px;
  }

}

}



