@import 'shared/colors';

.StartPage{
&-wrapper{
  height: 100vh;
  background:linear-gradient(1deg, #f7b892,#e4b5bc, #c3cbd6);
  background-size: 400% 400%;
  -webkit-animation: AnimationName 20s ease infinite;
-moz-animation: AnimationName 20s ease infinite;
animation: AnimationName 20s ease infinite;
  }
  h1{
    color:$white;
    font-size:1.5em;
  }
  form{
    margin-top:50px;
    display: flex;
    flex-direction: column;
    align-items: center;
input{
    margin-top:15px;
    height: 45px;
    width:208px;
    background-image: none !important;
    font-size: 0.6em;

  }
  }


&-input{
  display:flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  justify-content: center;


  #signup{
    color:$white;
    background-color:transparent;
    text-decoration:underline;
    font-size:22px;
    padding-top:60px;
  }

  #login{
 margin-top:35px;
 text-transform: uppercase;
 letter-spacing: 2.3px;
  }

  input{
    display:flex;
    align-self:center;
    margin-top:15px;
    height: 45px;
    width:208px;
    background-color:transparent;
    border: 1px solid $white;
    font-size: 0.6em;
    padding-left:10px;
    &::placeholder{
      color:white;
    }
  }

}

@-webkit-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@-moz-keyframes AnimationName {
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
@keyframes AnimationName { 
  0%{background-position:50% 0%}
  50%{background-position:50% 100%}
  100%{background-position:50% 0%}
}
}



