@import 'shared/colors';

.workoutPage{
display:flex;
justify-content: center;
  &-wrapper{
    display:flex;
    flex-direction:column;
    background-color:$lightblue;

  }
  &-list{
  margin: 0px 36px 80px 36px ;
  background-color:whitesmoke;
  li{
    padding:10px;
  }
  }
}
