@import 'shared/colors';
@import 'shared/fonts';

.workoutPage{
  .header{
    width: 100%;
    overflow: hidden;
    align-self:center;
    position:absolute;
    padding:0px 50px 0px 50px;
    border-bottom:3px solid white;
    border-radius: 49px 48px 261px 253px / 0px 0px 150px 150px;
    background:  linear-gradient(to bottom, #7B8DC4, $darkblue);
  }
  &-wrapper{
    display:flex;
    flex-direction:column;
    background-color:$lightblue;
    width:100%;    
    margin-bottom: 70px;
    h1{
    text-align:center;
    margin-bottom:80px;
    margin-top: 120px;
    color:$white;
    font-family:'Biko';
    font-weight:normal;
    font-size:36px;
    }
  }
  &-list{
    margin: 0px 20px 80px 20px;
    padding:20px;
    background-color:whitesmoke;
    box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
    background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
    background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
    background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
    @include above ($s){
      margin: 0px 50px 80px 50px;
    }
    @include above ($m){
      margin: 0px 80px 80px 80px;
    }
    li,h3{
      padding:10px;
    }
    .listName{
      font-size:22px;
      font-weight: bold;
    }
    .listType{
    text-decoration:underline;
      }
  }
}
.filterWrapper{
  display: flex;
  justify-content:space-around;
  flex-direction:column;
  align-self:center;
  margin-top:270px;
  margin-bottom:60px;
  letter-spacing:2.3px;
  font-size:15px;
  padding: 10px;
    ul{
      margin-top:15px;
      display: flex;
      flex-wrap: wrap;
      }
      li{
        background-color:white;
        display: inline;
        color:$darkblue;
        padding:10px;
        text-align:center;
        font-weight: 700;
        margin:10px;
          &:hover{
          cursor:pointer;
          background-color:$darkblue;
          color:$white;
          }
        }
        h2{
          padding:10px;
          font-family: "Biko";
          font-weight: bold;
          color:$darkblue;
        }
}
