@import 'components/hamburgermenu';
@import 'components/profile';
@import 'components/registration';
@import 'components/startpage';
@import 'components/workoutbank';
@import 'components/button';

#headerWrapper{
  background-color: #AC0161 ;
  color:white;
  height:300px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.App {
  text-align: center;
}
.App-header {
  background-color: #E25E31;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  justify-content: center;
  padding-top: 50px;
}

/*.App-header a{
  text-decoration: none;
  color:White;
}*/
.App-link {
  color: #61dafb;
}

/*** log in ***/
.inputWrapper{
  width: 300px;
  display:flex;
  flex-direction: column;
}

input{
  height: 50px;
  margin-top:50px;
  background-image: none !important;
  font-size: 0.6em;
}

/*************/

.App-header-registrationdog{
  background-color: white;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  justify-content: center;
  padding-top: 50px; 
}



