//shared
@import 'shared/breakers';
@import 'shared/colors';
@import 'shared/normalize';

//components
@import 'components/hamburgermenu';
@import 'components/profile';
@import 'components/registration';
@import 'components/registrationDog';
@import 'components/profileDog';
@import 'components/startpage';
@import 'components/workoutbank';
@import 'components/header';
@import 'components/button';


//fonts
@import url('https://fonts.googleapis.com/css?family=Lobster');
@import 'shared/fonts';

// Gone is the desktop, table and mobile. Let's use s, m, l, xl.
$s: 500px;
$m: 800px;
$l: 1050px;
$xl: 1410px;

.StartPage-header{
  // background-color: #AC0161 ;
  color:white;
  padding: 102px 93px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: 'Lobster', cursive;
  font-size:36px;
  text-decoration: underline;
}
// .App {
//   text-align: center;
// }
.App-header {
  background-color: #E25E31;
  min-height: 100vh;
  font-size: calc(10px + 2vmin);
  color: white;
  display:flex;
  justify-content: center;
  padding-top: 50px;
}
a{
  text-decoration: none;
}

.logoSpan{
   color:$white;
   font-family: 'Lobster', cursive;
   padding-left:15px;
   padding-top:6px;
   font-size:27px;
   text-decoration:underline;
}
// /*.App-header a{
//   text-decoration: none;
//   color:White;
// }*/
// .App-link {
//   color: #61dafb;
// }


.addedImage{
  height: 250px;
}
