@import 'shared/colors';

.linkButton{
  border:none;
  cursor: pointer;
  font-size: 0.8em;
    a{
      color:white;
    }
}
.smallLinkButton{
    padding-top:17px;
    color:$white;
    background-color:transparent;
    border:none;
    text-decoration:underline;
     a{
  	color:white;
  }
}

.button{
    border:none;
    width:189px;
    height:61px;
    text-transform: uppercase;
    align-self:center;
    border-radius:30px;
    letter-spacing:2.3px;
    font-size:20px;
    background-color:white;
  }
//   .pinkButton{
//    font-size:15px;
//     background-color:$white;
//     border-radius: 24px;
//     border: $white 2px solid;
//     width:135px;
//     height:48px;
//     color:$lightpink;
//     align-self:center;
//     margin-top:20px;
//     margin-bottom:20px;
//     letter-spacing:2.3px;
//     font-size:15px;
//     padding-top: 6px;
//     //text-underline-position: under;

//   }

//   .orangeButton{
//     font-size:15px;
//      color:$white;
//      border-radius: 24px;
//      border:none;
//      width:135px;
//      height:48px;
//      background-color:$orange;
//      align-self:center;
//      letter-spacing:2.3px;
//      font-size:20px;
//      //text-underline-position: under;
 
//    }

//    .whiteButton2{
//     font-size:15px;
//      color:$orange;
//      border-radius: 24px;
//      border:none;
//      width:135px;
//      height:48px;
//      background-color:$white;
//      align-self:center;
//      letter-spacing:2.3px;
//      font-size:20px;
//      //text-underline-position: under;
 
//    }
//   .whiteButton{
//     font-size:15px;
//     background-color: #f7f7f7;
//     //background-color:$white;
//     border-radius: 24px;
//     border: 70% fafafa 2px solid;
//     width:135px;
//     height:48px;
//     color: #a7a7a7;
//     //color:$lightpink;
//     align-self:center;
//     margin-top:20px;
//     margin-bottom:20px;
//     letter-spacing:2.3px;
//     font-size:15px;
//     padding-top: 6px;
//     box-shadow: 0px 3px 8px #aaa, inset 0px 2px 3px #fff;
//     background-image: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e7e7e7));
//     background-image: -webkit-linear-gradient(top, #f7f7f7, #e7e7e7); 
//     background-image: -moz-linear-gradient(top, #f7f7f7, #e7e7e7); 
//     background-image: -ms-linear-gradient(top, #f7f7f7, #e7e7e7); 
//     background-image: -o-linear-gradient(top, #f7f7f7, #e7e7e7);
//   }