//font colors

$gray: gray;
$white: white;
$pink: #AC0161;
$orange: rgb(235, 84, 30);
$yellow: #F5C825;
$lightblue:  #DCE5EA;

//gradients

.blue-gradient{
    background: linear-gradient( #E6E8EC,#C1CAD5);
}

.bg-yellow{
    background-color:$yellow;
}

