//font colors
$black: black;
$lightgray: #F0F0F0;
$blue: #0D73E2;
$green: #9DB5A4;
$white: white;
$pink: #AC0161;
$lightpink: #E4B5BC;
$orange: #F77341;
$yellow: #F5C825;
$lightblue:  #DCE5EA;
$grayblue: #94A7D0;

//gradients

.blue-gradient{
    background:  linear-gradient(to bottom, rgba(203,207,216,1), rgba(208,211,216,0.5))

}

.orange-gradient{
    background:  linear-gradient(to bottom, rgba(247,115,65,1), rgba(255,169,126,0.7))

}

.bg-yellow{
    background-color:$yellow;
}
.green-gradien{
    background:  linear-gradient(to bottom, rgba(229,233,231,1), rgba(157,180,164,1))
}

