@font-face {
    font-family: 'Biko-Black';
    src: url('../../fonts/biko/Biko-Black.eot');
    src: url('../../fonts/biko/Biko-Black.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/biko/Biko-Black.woff2') format('woff2'),
        url('../../fonts/biko/Biko-Black.woff') format('woff'),
        url('../../fonts/biko/Biko-Black.ttf') format('truetype'),
        url('../../fonts/biko/Biko-Black.svg#Biko-Bold') format('svg');
    font-weight: bold;
    font-style: normal;
}

@font-face {
    font-family: 'Biko-Bold';
    src: url('../../fonts/biko/Biko-Bold.eot');
    src: url('../../fonts/biko/Biko-Bold.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/biko/Biko-Bold.woff2') format('woff2'),
        url('../../fonts/biko/Biko-Bold.woff') format('woff'),
        url('../../fonts/biko/Biko-Bold.ttf') format('truetype'),
        url('../../fonts/biko/Biko-Bold.svg#Biko-Black') format('svg');
    font-weight: 900;
    font-style: normal;
}

@font-face {
    font-family: 'Biko-Regular';
    src: url('../../fonts/biko/Biko.eot');
    src: url('../../fonts/biko/Biko.eot?#iefix') format('embedded-opentype'),
        url('../../fonts/biko/Biko.woff2') format('woff2'),
        url('../../fonts/biko/Biko.woff') format('woff'),
        url('../../fonts/biko/Biko.ttf') format('truetype'),
        url('../../fonts/biko/Biko.svg#Biko') format('svg');
    font-weight: normal;
    font-style: normal;
}
